/* colors */
$color-primary: #083D8C;
$color-text-special: #216DDF;
$background-primary: #F6F6F6;
$color-white: #FFF;
$color-black: #3F3F3F;
$line-break-primary: #D8D8D8;
$button-border-primary: #02C7C6;
$menu-background: #F6F6F6;
$menu-primary: #0BC9C8;
$menu-heading: #01529E;
$menu-list-primary: #616161;
$menu-hint: #BEBEBE;

/*  fonts */
$font-Open-sans: 'Open Sans', sans-serif;
$font-ss-pika: 'SS Pika', sans-serif;