.hero {
	margin-top: -5px;
	.hero-bg {
		background-image: url('../img/water-image.png');
		background-size: 282% 133%;
		background-position: -339px -3px; 
		background-repeat: no-repeat;
		height: 100px;
		width: 100%;
	}
}