.section {
	/*&--filter-mobile{
		background-color: $background-primary;

		@media screen and (min-width: 1440px) {
			display: none;
		}
	}*/
	&--filter-desktop{
		@media screen and (min-width: 1440px) {
			margin-top: -70px;
		}
	}
	&--options {
		margin-bottom: 40px;

		@media screen and (min-width: 1440px) {
			margin-top: 26px;
		}
	}
	&--hero {
		margin-top: 7px;
		background-image: url('../img/water-image.png');
		background-size: 282% 133%;
		background-position: -339px -3px; 
		background-repeat: no-repeat;
		height: 100px;
		width: 100%;

		@media screen and (min-width: 1440px) {
			background-size: 100% 100%;
			height: 199px;
			background-position: center;
		}
	}
}

hr {
	color: $line-break-primary;
	margin: 0;
}



